body{
	margin:0;
	background: #b5b5b5;
}
form{
	    text-align: center;
    background: #ffffff;
    width: 66%;
    margin: 0 auto;
    border-radius: 4%;
   
    margin: 40px auto;
	padding: 10px 20px;
    text-align: center;
}
h1{
	font-size: 30px;
    text-transform: uppercase;
    color: #ee6e73;
}
.pswd{
	cursor: pointer;
    color: red;
}